<header>
  <h1>{{ page.title | default: site.title }}</h1>
  <h2>{{ page.description | default: site.description }}</h2>

  <nav>
    <ul>
      <li><a href="#Projects">Projects</a></li>
      <li><a href="#CV">CV</a></li>
      <li><a href="#Contact">Contact</a></li>
    </ul>
  </nav>
</header>


<section id="Projects">
  <h2>Projects</h2>
  <p>Project 1 description...</p>
  <p>Project 2 description...</p>
</section>

<section id="CV">
  <h2>Curriculum Vitae</h2>
  <p>Education, Work Experience, Skills...</p>
</section>

<section id="Contact">
  <h2>Contact</h2>
  <p>Email: your.email@example.com</p>
  <p>LinkedIn: <a href="https://linkedin.com/in/yourprofile">Your LinkedIn</a></p>
</section>
